.dashboard-container {
  display: flex;
}

.logo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.bar-chart-container {
  min-width: 80%;
  margin: 1rem;
}

.mobile-mode {
  display: none;
}

@media screen and (max-width: 1240px) {
  .mobile-mode {
    display: flex;
    justify-content: center;
  }
  .mobile-mode button {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
  }
}
