.trends-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-arrow-left {
  font-size: x-large;
  margin: 1rem;
  color: black;
}

.trends-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.trends-container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 1rem;
}

@media screen and (max-width: 1240px) {
  .trends-container {
    width: 90%;
  }
}
